*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{

    height: 60vh;
    width: 80%;
    background-color: aqua;
    margin:  auto;
    text-align: center;
    align-items: center;
    
}